<div class="container col-12" style="margin-top: 70px;">
    <div class="row">
        <div class="col-10">
          <h1 class="pb-1"><i class="fas fa-store-alt text-muted"></i> Serviços</h1>
        </div>  
    </div>

    <div class="card border-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">
            Corte à máquina simples
        </div>
        <div class="card-body text-primary">       
          <span class="card-text">Máquinas 1, 2, 3, 4, 5 e 6</span>
        </div>
        <div class="card-footer">
            <small class="text-muted">R$ 20,00</small>
        </div>
    </div>
</div>