<div class="container col-12" style="margin-top: 70px;">
    <h1><i class="fas fa-comments text-muted"></i> Nos siga nas redes sociais</h1>
</div>
<div style="padding-top: 50px; text-align: center;">        
    <a style="font-size: 0.5rem; padding-right: 50px;" href="">
        <i class="fab fa-facebook fa-10x" ></i>        
    </a>
    <a style="font-size: 0.5rem;" href="">
        <i class="fab fa-instagram  fa-10x"></i>
    </a>
    <a style="font-size: 0.5rem; padding-left: 50px;" href="">
        <i class="fab fa-snapchat-ghost fa-10x"></i>
    </a>
    <a style="font-size: 0.5rem; padding-left: 50px;" href="https://api.whatsapp.com/send?phone=5521981355124&text=Bem%20vindo%20%C3%A0%20barbearia%20King's%20Sons!">
        <i class="fab fa-whatsapp  fa-10x"></i>
    </a>

    
</div>
<div style="padding-top: 70px; padding-left: 500px;">
    <div class="mapouter"><div class="gmap_canvas"><iframe width="879" height="254" id="gmap_canvas" src="https://maps.google.com/maps?q=Rua%20da%20Modista,%2025&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:254px;width:879px;}</style><a href="https://www.embedgooglemap.net">embedding a google map</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:254px;width:879px;}</style></div></div>
</div>

    

