<div class="container col-12" style="margin-top: 70px;">
    <h1><i class="fas fa-address-card text-muted" style="color:darkgoldenrod;"></i> Cadastro</h1>
    <div class="pt-0 col-12">     
      <form style="padding-top: 20px;">
      <div class="row g-3">
        <div class="col">
          <label for="inputName" class="form-label">Nome</label>
          <input type="text" class="form-control" aria-label="Primeiro nome">
        </div>
        <div class="col">
          <label for="inputLastName" class="form-label">Sobrenome</label>
          <input type="text" class="form-control" >
        </div>
      </div>
      <form class="row g-3">
        <div class="col-md-6">
          <label for="inputEmail" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">          
          <label for="inputPassword4" class="form-label">Senha</label>
          <input type="password" class="form-control" id="inputPassword4">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Endereço</label>
          <input type="text" class="form-control" id="inputAddress">
        </div>     
        <div class="col-md-6">
          <label for="inputCity" class="form-label">Cidade</label>
          <select id="inputCity" class="form-select">
            <option selected>Belford Roxo</option>
            <option>Outro</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="inputState" class="form-label">Estado</label>
          <select id="inputState" class="form-select">
            <option selected>Rio de Janeiro</option>
            <option>Outro</option>
          </select>
        </div>
        <div class="col-md-2">
          <label for="inputZip" class="form-label">Cep</label>
          <input type="text" class="form-control" id="inputZip">
        </div>

        <div class="col-md-6">
          <label for="inputDevice" class="form-label">Aparelho</label>
          <select id="inputDevice" class="form-select">
            <option selected>Android</option>
            <option>iPhone</option>
            <option>Outro</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="inputState" class="form-label">Foto</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Escolha uma foto</label>
          </div>
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Receber Notificações
            </label>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    </form>
    </div>
  </div>
