<div class="container col-12" style="margin-top: 70px;">
    <div>
        <div class="row">
            <div class="col-12">
              <h1 class="pb-1"><i class="fas fa-unlock text-muted"></i> Esqueci minha senha</h1>
            </div>  
        </div>

        <form class="form-inline pb-0 " >            
            <select class="custom-select my-1 mr-sm-2" (change)="trocarModoRecuperacao($event)">
              <option selected disabled>Forma de recuperação...</option>
              <option value="1">Enviar para email nova senha</option>
              <option value="2">Redefinir aqui com CPF</option>             
            </select>
          </form>

        <div class="pb-0" *ngIf="modoRecuperacao == 1">
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entre com seu email">          
                </div>  
                <button type="submit" class="btn btn-primary">Solicitar</button>                   
              </form>
        </div>
        
        <div class="pb-0" *ngIf="modoRecuperacao == 2">
            <form>                
                <div class="form-group">
                    <label for="exampleInputEmail1">CPF</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Informe o CPF sem traços ou pontos">
                    <small id="emailHelp" class="form-text text-muted">Essa informação não é compartilhada .</small>
                  </div>   
                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#redefinir">Solicitar</button>
              </form>
        </div> 
    </div>    
</div>

 <!-- Modal Serviços -->
 <div class="modal fade" id="redefinir" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title pr-5" id="ServicosCliente">Redefinir senha com Cpf</h5>                
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <label for="disabledTextInput">Nova Senha</label>
            <input type="text"   [(ngModel)]="senhaNova" class="form-control" type="password" placeholder="Entre com a senha">
            <label for="disabledTextInput">Repita a senha</label>
            <input type="text" [(ngModel)]="confirmaSenhaNova" class="form-control" type="password" placeholder="Repita a senha">
          </div>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="validarSenhas()">Gravar</button>               
        </div>
      </div>
    </div>
  </div>