
.form-signin {
  
  width: 100%;
  max-width: 330px;
  padding-top: 120px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.borda { 
  border-style: groove;
  width:  800px;
  height: 800px;
}

#acessoFila {
 
  padding-left: 10px;
  padding-top: 5px;
  display: flex;
 
 
}

#rodape {
  padding: 10px;
}

#rectangle{
  width:200px;
  height:100px;
  background:blue;
}

/* body  {
  background-image: url("../login/bg1.jpg"); 
  background-color: #cccccc; 
 }  */

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
