<div class="container col-5">  
    <div class="form-signin">
     
        <div style="padding-left: 111px;">        
          <i class="fas fa-users fa-5x" style="color: #E2A60A"></i>          
        </div>
        <h3 style="text-align: center;">ACESSO À FILA</h3>

        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="king@example.com">
          <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating" style="margin-top: 4px;">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Senha</label>
        </div>

        <span class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Lembrar
          </label>
        </span>
        
        <div id="rodape">
          <span style="padding-right: 50px;">
            <button class="w-50 btn  btn-primary" type="submit">Entrar</button>
          </span>    
          <span class="pr-0">
            <a href="#" >Esqueci a senha</a>           
          </span>                   
        </div> 
           
    </div>
</div>