<div class="form-signin">
  <form>

    <div style="padding-left: 111px;">
      <img class="mb-4" src="../assets/logo.png" alt="King's Sons" width="100" height="100">     
    </div>

    <span id="acessoFila">
      <h3>Acesso à Fila</h3>
    </span>      

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="king@example.com">
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating" style="margin-top: 4px;">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Senha</label>
    </div>

    <span class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Lembrar
      </label>
    </span>
    
    <div id="rodape">
      <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
        <span style="text-align: center;">
          <h6 class="mt-5 mb-3 text-muted">&copy; 2021 - Bruno Peçanha<br>Todos os direitos reservados</h6>         
        </span>
    </div>    
  </form>
</div>