
.form-signin {
  
  width: 100%;
  max-width: 330px;
  padding-top: 120px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

#acessoFila {
  text-align: center;
  font-style: italic;
  color: #E4AD1F;
}

#rodape {
  padding: 10px;
}

body  {
  background-image: url("../login/bg1.jpg"); 
  background-color: #cccccc; 
 } 

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
