<div class="container col-12" style="margin-top: 70px;">
  <h1><i class="fas fa-user text-muted" style="color: #131212;"></i> Acessar</h1>  
    <div class="form-signin pt-0">     
        <div style="padding-left: 111px;">        
          <i class="fas fa-address-card fa-5x" style="color: #E2A60A"></i>
        </div> 
          <div style="text-align: center;">
            <h2>Login - <small>Acessar à conta</small></h2>
          </div>         
          

        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="king@example.com">
          <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating" style="margin-top: 4px;">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Senha</label>
        </div>

        <span class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Lembrar
          </label>
        </span>
        
        <div id="rodape">
          <span style="padding-right: 50px;">
            <button class="w-50 btn  btn-primary" type="submit">Entrar</button>
          </span>    
          <span class="pr-0">
            <a href="#" >Esqueci a senha</a>           
          </span>                   
        </div> 
           
    </div>
</div>